{
    "Nodes": {
        "pve01":{
            "ServerName": "",
            "FQDN": "",
            "IP": ""

        },
        "pve02":{
            "ServerName": "",
            "FQDN": "",
            "IP": ""
        },
        "pve03":{
            "ServerName": "",
            "FQDN": "",
            "IP": ""
        }
    }
}